.drop-down-container{
  color: transparent;
  outline-width: 0;
  .f-dropdown{
    max-width: 50%;
  }
  .small-9{
    padding-left: 0;
  }
  li{
    padding: 12px;
    font-style: normal;
    color:rgb(130,130,130);
    &:hover{
      background: rgb(240,240,240);
    }
  }
  li:first-child{
    background: rgb(240,240,240);
    border-bottom: 1px solid rgb(210,210,210);
    color:rgb(100,100,100);
    &:hover{
      background: rgb(240,240,240);
    }
  }
  .selected-label{
    font-style: italic;
    margin-left: 5px;
    color:rgb(100,100,100);
    /*text-decoration: underline;*/
    &:hover{
      color:rgb(110,110,110);
    }
  }
}