<div id="search">

  <div class="search-top">
    <form>

      <input class="search-input" type="text" ng-disabled="!selectedDb.name" ng-model="search.text"/>

      <button
        type="submit"
        class="search-btn blue-btn"
        ng-click="searchForText(search.text)"
        ng-disabled="!search.text">
        <fa class="fa fa-search"></fa>
      </button>

      <button
        class="help-btn blue-btn"
        ng-click="toggleHelp();"
        ng-disabled="!selectedDb.name">
        <fa class="fa fa-question"></fa>
      </button>


     <span class="db-btn-container">
        <drop-down items="dbs" selected-item="selectedDb"></drop-down>
      </span>

      <button
        class="advanced-label hover-pointer grey-btn"
        ng-click="toggleAdvanced();"
        ng-disabled="!selectedDb.name">
        Advanced
      </button>

    </form>

     <ge-spinner class="spinner"></ge-spinner>
  </div>

  <div class="shadow-cover" ng-if="showAdvanced || showHelp"></div>

  <div class="row"  ng-if="!selectedDb.name">
    <div class="columns small-10 small-offset-1 end">
      <div class="welcome-box">
        <div class="title">Welcome!</div>
        <p>
          NCBI Explorer is an early stage app that allows academics, scientists, and any interested parties to explore a subset of the National Center For Biotechnology Information (NCBI) databases. The main goal of this project is to create a fast and easy way to navigate a complex data set using modern web technologies.
        </p>
        <div>
          See <a href="http://www.ncbi.nlm.nih.gov/">NCBI</a> for more information
        </div>
        <div class="start-by">
          To Start
          <ol>
            <li><strong>Choose</strong> a Database to Search</li>
            <li>Click the <fa class="fa fa-question"></fa> to get more info on any database</li>
            <li>Use the <strong>Advanced Search Tool</strong> to build queries</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <ge-advanced-search is-open="showAdvanced" selected-db="selectedDb">
  </ge-advanced-search>

<!--   <div ng-if="showHelp">
  </div> -->

  <ge-db-help is-open="showHelp" selected-db="selectedDb"></ge-db-help>

  <div
    class="enter-search-terms"
    ng-show="search.resultCount === 0 && selectedDb.name && !search.text &&!showAdvanced && !showHelp">
    Enter Your Search Terms
  </div>

  <div
    class="enter-search-terms"
    ng-show="showZeroResults">
    No Results Match Your Query
  </div>


  <ge-search-slider ng-if="search.resultCount > 0 && selectedDb.name">

    <ge-left-side>
      <div class="paging-box" ng-show="search.resultCount !== 0">
        <span class="page-number">
          {{getPageSpread()}}
          <span class="of"> of </span>
          {{search.resultCount | number:0}}
        </span>
        <button class="grey-btn" ng-click="previousPage()">
          <fa class="fa fa-chevron-left"></fa>
        </button>
        <button class="grey-btn" ng-click="nextPage()">
          <fa class="fa fa-chevron-right"></fa>
        </button>
      </div>

      <div class="search-section-content">
        <div ng-include="'/search/dbs/' + selectedDb.name + '/search-results.html'"></div>
        <div class="bottom-box" ng-show="search.results.length > 0">
          Source: 
          <a href="http://www.ncbi.nlm.nih.gov/{{selectedDb.name}}" target="_blank">
            http://www.ncbi.nlm.nih.gov/{{selectedDb.name}}
          </a>
        </div>
      </div>

    </ge-left-side>


    <ge-right-side >
      <div ng-if="selectedData.summary" ng-include="'/search/dbs/' + selectedDb.name + '/search-content.html'"></div>
    </ge-right-side>

  </ge-search-slider>


</div>
